# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.env
*.log

# Alembic
alembic/versions/*.py

# Node
node_modules/
dist/
.cache/
*.local

# Env files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test
.pytest_cache/
htmlcov/
.coverage
